
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

nodeJS/message-board/node_modules
nodeJS/message-board/bin/www
ruby/Gemfile
/misc.xml

.architect
build/
classic.json
classic.jsonp
ext/
modern.json
modern.jsonp
resources/sass/.sass-cache/
resources/.arch-internal-preview.css
.arch-internal-preview.css

.idea/
.git/info/exclude