extends layout

block content
    h2 Add New Message
    form(method='POST', action='/new')
        h3 name
        input(type='text', name='userName')
        br
        h3 message
        input(type='text', name='messageText')
        br
        input(type='submit')
        br
